body{
    background-color: #0C2C55;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.header-text{
    color: white;
    text-align: right;
    font-size: 18px;
}

.image-h{
    width: 150px;
    text-align: left;
}

.image-b{
    width: 100%;
}

.body-text-lg{
    color: white;
    font-size: 40px;
}

.body-text-sm{
    color: white;
    font-size: 20px;
}